{% extends 'admin/layout.html.twig' %}

{% block title %}Ajout Utilisateur
{% endblock %}

{% block body %}
	<h1>Nouvelle Utilisateur</h1>

	{{ include('admin/user/_form.html.twig') }}

	<a href="{{ path('admin_user_list') }}">
		<button type="button" class="btn btn-outline-secondary btn-sm">Retour à la liste Utilisateurs</button>
	</a>
{% endblock %}
