{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				{% if app.user %}
					<h2>Bienvenue
						{{app.user.firstname}}</h2>
				{% else %}
					<h1 class="fw-light">Séries TV et bien plus en illimité.</h1>
					<p class="lead text-muted">Où que vous soyez. Annulez à tout moment.</p>
					<p>
						<a href="{{ path('app_login') }}" class="btn btn-danger my-2">Se connecter</a>
						<a href="{{path('app_register')}}" class="btn btn-secondary my-2">Créer un compte</a>
					</p>
				{% endif %}
			</div>
		</div>
	</section>


{% endblock %}
