<ul>
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">sériesTrvoue en focntion de votre recherche
				</h1>
			</div>
		</div>
	</section>


	<ul>
		{% for tvshow in tvshows %}
			<li>
				<a href="{{ path('tvshow_details', {id:tvshow.id}) }}">
					{{tvshow.title}}</a>
			</li>
		{% endfor %}
	</ul>
