{% extends 'admin/layout.html.twig' %}

{% block title %}
	Catégories |
	{{parent()}}
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Liste des Catégories</h1>
		<div class="example-wrapper">
			<ul>
				<h3></h3>
				{% for categories in listCategory %}
					<div class="p-1">
						<li>
							{{ categories.name}}
						</li>
					</div>
				{% endfor %}
			</ul>
		</div>

		<a href="{{ path('admin_category_add')}}">
			<button type="button" class="btn btn-outline-success btn-sm rounded-pill">Nouvelle Categories</button>
		</a>
	</div>
{% endblock %}
